<section class="section">
  <h2 class="section-title">
    关于本站
  </h2>
  <div class="section-content">
    <p>
      本站是一个纯粹的无聊站，如果你觉得有意思请收藏。
    </p>
    <p>
      如果你觉得无趣甚至可耻，请一笑而过，不要上纲上线，谢谢……
    </p>
    <p>
      本站所有资源来源于网络，如侵犯您的合法权益，请联系：admin@chihepiao.com，我会尽快处理。
    </p>
  </div>
</section>

<div id="comments" class="section">
  <div class="section-content">
    <!-- UY BEGIN -->
    <div id="uyan_frame"></div>
    <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2128765"></script>
    <!-- UY END -->
  </div>
</div>